<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Register page</h1>
    <form action=https://@ViewBag.Domain/Register method="post">
        <label>Login: </label>
        <input type="text" name="Login" /><br />
        <label>Password: </label>
        <input type="text" name="Password"/><br />

        <input type="submit" value="Send" onclick="RedirectToTasksMenu();" />
    </form>
</body>
<script>
    function RedirectToTasksMenu() {
        window.location.replace("https://@ViewBag.Domain/TasksMenu");
    }
</script>
</html>